{% extends "base.html" %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% if name %}
    <h2>{{ name }} 你好,</h2>
    <br>
    <h4>以下是你下單資料:</h4>
    <table class="table table-striped table-hover table-borderless">
        <tr>
            <td>信箱: {{ email }}</td>
        </tr>
        <tr>
            <td>電話: {{ phone }}</td>
        </tr>
        <tr>
            <td>產品: {{ product }} </td>
        </tr>
        <tr>
            <td>價錢: ${{ price }}</td>
        </tr>
    </table>
    {% else %}
    <h1>訂購單</h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <br>
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
            <br>
            {{ form.product.label(class="form-label") }}
            {{ form.product(class="form-control") }}
            <br>
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-secondary")}}
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

